<div class="banner-container">
  <div class="banner-content-container center-margin flex">
    <section class="banner-col">
      <h1>Built for developers</h1>
      <p>GitHub is a development platform inspired by the way you work. From open source to business, you can host and
        review code, manage projects, and build software alongside 36 million developers.</p>
    </section>
    <section class="banner-col">
      <form>
        <div class="form-group">
          <label>Username</label>
          <input type="text">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password">
          <p class="form-small-text">
            Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter.
            <a>Learn more.</a>
          </p>
        </div>
        <app-github-button 
          [label]="'Sign up for GitHub'" 
          [size]="'large'" 
          [stretch]="true"
          class="stretch-contents">
        </app-github-button>
      </form>
    </section>
  </div>
</div>