<div class="banner-container">
  <div class="banner-content-container center-margin flex">
    <section class="banner-col">
      <h1>Built for developers</h1>
      <p>GitHub is a development platform inspired by the way you work. From open source to business, you can host and
        review code, manage projects, and build software alongside 36 million developers.</p>
      </section>
    <section class="banner-col">
      <form>
        <div class="form-group">
          <label>Username</label>
          <input type="text">
        </div>
      </form>
    </section>
  </div>
</div>