<div class="drag-container">
  <div class="drag-box" cdkDrag cdkDragBoundary=".drag-container"> 
    Drag Me!
  </div>
</div>
<div class="drag-container">
  <ul class="drag-list" cdkDropList (cdkDropListDropped)="drop($event)">
    <li class="drag-list__item" *ngFor="let todo of todos" cdkDrag>{{todo}}</li>
  </ul>
</div>

<div class="drag-container">
    <div class="list-container">
      <h2>TODOs</h2>
      <ul class="drag-list" 
        cdkDropList 
        #todoList="cdkDropList"
        [cdkDropListData]="todos2"
        [cdkDropListConnectedTo]="[doneList]"
        (cdkDropListDropped)="drop2($event)">
        <li class="drag-list__item" *ngFor="let todo of todos2" cdkDrag>{{todo}}</li>
      </ul>
    </div>
    <div class="list-container">
        <h2>DONE</h2>
        <ul class="drag-list" 
          cdkDropList 
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          (cdkDropListDropped)="drop2($event)">
          <li class="drag-list__item" *ngFor="let doneItem of done" cdkDrag>{{doneItem}}</li>
        </ul>
      </div>    
  </div>