@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

details summary::-webkit-details-marker {
    display: none;
}

.bold {
    font-weight: bold;
}

.pad-0 {
    padding: 0;
}

.pad-bottom-16 {
    padding-bottom: 16px;
}

.pad-top-16 {
    padding-top: 16px;
}

.width-100 {
    width: 100%;
}

.center-margin {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}