<div class="position-relative">
  <header class="github-header">
    <div class="nav-container flx align-center">
      <!-- Github Icon -->
      <div>
        <a href="https://github.com/" aria-label="Homepage">
          <svg height="32" class="color-white" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true">
            <path fill-rule="evenodd"
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
            </svg>
        </a>
      </div>
      <!-- Container for all menu items, left & right side -->
      <div class="flx grow space-between">
        <!-- Left aligned menu items -->
        <nav>
          <ul class="nav-list flx">
            <li class="margin-right">
              <details (mouseover)="displayDropdownMenu($event, true)" (mouseout)="displayDropdownMenu($event, false)">
                <summary>
                  <span>Why Github?</span>
                  <i class="down-arrow"></i>
                </summary>
                <div class="dropdown-menu">
                  <a class="bold">Features</a>
                  <ul class="pad-0 pad-bottom-16">
                    <li>Code review</li>
                    <li>Project management</li>
                    <li>Integrations</li>
                    <li>Actions</li>
                    <li>Package registry</li>
                    <li>Team management</li>
                    <li>Social coding</li>
                    <li>Documentation</li>
                    <li>Code hosting</li>
                  </ul>
                  <ul class="border-top-light pad-0 pad-top-16">
                    <li class="bold">Customer Stories</li>
                    <li class="bold">Security</li>
                  </ul>
                </div>
              </details>
            </li>
            <li class="margin-right">
              <a>Enterprise</a>
            </li>
            <li class="margin-right">
              <details (mouseover)="displayDropdownMenu($event, true)" (mouseout)="displayDropdownMenu($event, false)">
                <summary>
                  <span>Explore</span>
                  <i class="down-arrow"></i>
                </summary>
                <div class="dropdown-menu">
                  <a>Features</a>
                  <ul class="pad-0">
                    <li>Code review</li>
                    <li>Project management</li>
                    <li>Integrations</li>
                    <li>Actions</li>
                    <li>Package registry</li>
                    <li>Team management</li>
                    <li>Social coding</li>
                    <li>Documentation</li>
                    <li>Code hosting</li>
                  </ul>
                </div>
              </details>
            </li>
            <li class="margin-right">
              <a>Marketplace</a>
            </li>
            <li class="margin-right">
              <details (mouseover)="displayDropdownMenu($event, true)" (mouseout)="displayDropdownMenu($event, false)">
                <summary>
                  <span>Pricing</span>
                  <i class="down-arrow"></i>
                </summary>
                <div class="dropdown-menu">
                  <a>Features</a>
                  <ul class="pad-0">
                    <li>Code review</li>
                    <li>Project management</li>
                    <li>Integrations</li>
                    <li>Actions</li>
                    <li>Package registry</li>
                    <li>Team management</li>
                    <li>Social coding</li>
                    <li>Documentation</li>
                    <li>Code hosting</li>
                  </ul>
                </div>
              </details>
            </li>
          </ul>
        </nav>
        <!-- Right side menu items -->
        <div class="flx align-center">
          <label class="nav-search-label margin-right">
            <input type="text" placeholder="{{ searchPlaceholder }}" class="margin-right nav-search width-100" (focus)="onSearchFocus()"
              (blur)="onSearchBlur()" [class.search-focus]="searchFocus" />
            <img src="https://github.githubassets.com/images/search-key-slash.svg" class="nav-search-img"
              [class.search-focus]="searchFocus">
          </label>
          <a class="margin-right">Sign in</a>
          <a class="btn-link">Sign up</a>
        </div>
      </div>
    </div>
  </header>
</div>